html,body,#app{
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Seogoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
    padding: 0
}

li {
    list-style-type: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-clear {
    border:none;
    background:transparent;
}

.nav-link {
    font-size: 1.125rem;
    font-weight: bold;
    text-decoration:none;
    color:inherit;
}

.grid{
    display:flex;
    flex-wrap:wrap;
}

.space-around{
    justify-content: space-around;
}

.header-lg{
    font-size:2.1875rem;
    font-weight:300;
    margin:1.25em;
}

.header-sm{
    font-size:1.25rem;
    font: weight 300;
    margin:0.625em;
}

.avatar {
    width: 9.375em;
    height: 9.375em;
    border-radius: 3px;
    margin: 0 auto;
    display:block;
}

.center-text {
    text-align:center;
}

.link {
    color: rgb(187, 46, 31);
    text-decoration: none;
    font-weight: bold;
}

.card-list {
  margin: 1.25em 0;
  font-size: 1.25rem;  
}

.card-list li {
    display: flex;
    align-items: center;
    margin: 0.625em;
}

.card-list svg {
    margin-right: 0.625em;
}

.card-list a {
    font-weight: 500;
    color: inherit;
}

.bg-light {
    background: rgba(0,0,0,0.08);
    border-radius:3px;
}

.card {
    margin: 0.625em 0;
    width:15.625em;
    padding:1.25em;

}

.card a {
    text-decoration: none;
}

.card img {
    margin-bottom:0.5em;
}

.instructions-container {
    margin: 6.25em 0;
}

.container-sm {
    width: 80%;
    margin: 0 auto;
}

.container-battle {
    padding:0;
    font-size: 1.5625rem
}

.battle-instructions li {
    flex: 1;
    min-width: 18.75em;
}

.battle-instructions svg {
    padding: 2.5em;
    border-radius: 3px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.player {
    flex: 1;
    margin: 0 1.25em;
    padding: 0.625em;
}

.player-label {
    font-size: 1.25rem;
    margin: 0.3125em;
    font-weight:300;
}

.player-inputs input{
padding: 0.5em;
font-size: 1rem;
flex: 2;
border-radius: 3px;
border: none;
box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
}

.player-inputs .input-light {
    background: rgba(0,0,0,0.02);
}

.player-inputs button {
    flex: 1;
    margin-left: 0.625em
}

.btn {
    padding: 0.625em;
    text-decoration: uppercase;
    letter-spacing: .25em;
    border-radius: 3px;
    border:none;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    max-width: 12.5em;
}

.dark-btn {
    color: #e6e6e6;
    background: #141414;
}

.dark-btn:disabled {
    background: #f2f2f2;
    color: #c7c7c7;
    cursor:initial;
}

.players-container {
    margin: 6.25em 0;
}

.avatar-small {
    width: 3.4375em;
    height: 3.4375em;
    border-radius: 50%;
}

.player-info {
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 1.25rem;
    padding: 0.625em;
}

.player-info .link {
    margin-left: 0.625em;
}

.btn-space {
    margin: 2.5em auto;
}

.error {
    color: #ff1616;
    font-size: .125rem; 
    margin: 3.125em 0;
}